*{
    font-family: Areal;
}

.nav {
  min-width: 1000px;
  max-width: 1350px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  padding-top: 5px;
}

#new-task-form, #edit-task-formed {
    /* width:600px;
    height:400px; */
    background-color: #efeaea;
    margin:0px auto;
    padding:10px;
    font-size: 1.2rem;
    overflow: scroll;
}

.unactive {
  display: none;
}

input {
  width: 50px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 3px;
  border: 1px solid white;
}

thead, tr > td:first-child {
  border: 3px solid white;
  color: white;
  align-content: center;
}

.stepTable td {
  position: relative;
  width: 4rem;
  height: 1.5rem;
  padding: 3px;
  border: 1px solid black;
}

.stepTable td p:first-child {
  position: absolute;
  top: 0;
  right: 0;
}

.stepTable td p:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}

.stepTable thead td, .stepTable tr > td:first-child, .stepTable tr > td:last-child {
  border: 3px solid black;
  color: black;
}

.stepTableControl td {
  width: 7rem;
  height: 2.5rem;
}

 .line1 {
  float: right;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid pink;
}

.block p {
  margin: 3px;
}

.text {
  margin-top: 0px;
}

.nextButton {
  width: 130px;
}

.hidden {
  display: none;
}

.activeButton {
  background-color: pink;
  border: 1px solid #f1516d54;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px 0 8px 0;
  width: 150px;
  margin: 10px 0;
}

button.activeButton:hover {
  width: 200px;
}
